body {
  background-color: #0E4749;
}
.pokeDiv {
  text-align: center;
  width: 200px;
  font-weight: bold;
  margin: 5px;
}
.pokeDiv img {
  width: 100px;
}
.pokeContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;

}

header {
  display: grid;
  grid-template-columns: 2fr 4fr 1fr;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: #EFE7DA;
}
nav {
  display: flex;
  justify-content: space-evenly;
  width: 200px;
  font-size: 20px;
  font-weight: bold;
}
.main {
  display: grid;
  grid-template-columns: 2fr 5fr;
  background-color: #0E4749;
  height: 100vh;
}
nav a {
  text-decoration: none;
}
nav a:hover {
  color: #F08030;
}
.sidebar {
  background-color: #95C623;
  padding: 10px;
}
label {
  margin-top: 20px;
  font-weight: bold;
}
input {
  margin-bottom: 20px;
}
select {
  margin-bottom: 20px;
}